@model IEnumerable<divelog.Models.Person>

@{
    ViewData["Title"] = "Personal";
}

<h1>Personal</h1>

<p>
    <a asp-action="Create">Ny person</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Signatur
            </th>
            <th>
                Namn
            </th>
            <th>
                Grupp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Signature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
